In [1]:
import pandas as pd

In [2]:
df_futbol = pd.read_csv('players_20_new.csv')

In [4]:
df_futbol.set_index('short_name', inplace=True)
df_futbol.head()

,long_name,age,dob,height_cm,weight_kg,nationality,club
short_name,,,,,,,
L. Messi,Lionel Andrés Messi Cuccittini,32,1987-06-24,170,72,Argentina,FC Barcelona
Cristiano Ronaldo,Cristiano Ronaldo dos Santos Aveiro,34,1985-02-05,187,83,Portugal,Juventus
Neymar Jr,Neymar da Silva Santos Junior,27,1992-02-05,175,68,Brazil,Paris Saint-Germain
J. Oblak,Jan Oblak,26,1993-01-07,188,87,Slovenia,Atlético Madrid
E. Hazard,Eden Hazard,28,1991-01-07,175,74,Belgium,Real Madrid

### 1. Seleccionar con un valor

##### loc[nombre_fila, nombre_columna]

In [ ]:
# obtener toda la data sobre L. Messi
df_futbol.loc['L. Messi']

long_name      Lionel Andrés Messi Cuccittini
age                                        32
dob                                1987-06-24
height_cm                                 170
weight_kg                                  72
nationality                         Argentina
club                             FC Barcelona
Name: L. Messi, dtype: object

In [ ]:
# Obtener el tamano de L. Messi
df_futbol.loc['L. Messi','height_cm']

np.int64(170)

In [7]:
# Obtener el peso de Cristiano Ronaldo
df_futbol.loc['Cristiano Ronaldo', 'weight_kg']

np.int64(83)

In [12]:
# Obtener todas las filas dentro de la columna 'height_cm'
df_futbol.loc[:,'height_cm']

short_name
L. Messi             170
Cristiano Ronaldo    187
Neymar Jr            175
J. Oblak             188
E. Hazard            175
                    ...
Shao Shuai           186
Xiao Mingjie         177
Zhang Wei            186
Wang Haijian         185
Pan Ximing           182
Name: height_cm, Length: 18278, dtype: int64

In [13]:
df_futbol.loc['L. Messi',:]

long_name      Lionel Andrés Messi Cuccittini
age                                        32
dob                                1987-06-24
height_cm                                 170
weight_kg                                  72
nationality                         Argentina
club                             FC Barcelona
Name: L. Messi, dtype: object