# WEB SCRAPING CON PANDAS (BASICO)

In [1]:
import pandas as pd

## 1 Leer .csv de un URL con Pandas

#### Website: https://www.football-data.co.uk/data.php

In [2]:
# Leer 1 archivo csv de un website
df_premier24 = pd.read_csv('https://www.football-data.co.uk/mmz4281/2425/E0.csv')

In [3]:
# Mostrar dataframe
df_premier24

,Div,Date,Time,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,...,B365CAHH,B365CAHA,PCAHH,PCAHA,MaxCAHH,MaxCAHA,AvgCAHH,AvgCAHA,BFECAHH,BFECAHA
0,E0,16/08/2024,20:00,Man United,Fulham,1,0,H,0,0,...,1.86,2.07,1.83,2.11,1.88,2.11,1.82,2.05,1.90,2.08
1,E0,17/08/2024,12:30,Ipswich,Liverpool,0,2,A,0,0,...,2.05,1.88,2.04,1.90,2.20,2.00,1.99,1.88,2.04,1.93
2,E0,17/08/2024,15:00,Arsenal,Wolves,2,0,H,1,0,...,2.02,1.91,2.00,1.90,2.05,1.93,1.99,1.87,2.02,1.96
3,E0,17/08/2024,15:00,Everton,Brighton,0,3,A,0,1,...,1.87,2.06,1.86,2.07,1.92,2.10,1.83,2.04,1.88,2.11
4,E0,17/08/2024,15:00,Newcastle,Southampton,1,0,H,1,0,...,1.87,2.06,1.88,2.06,1.89,2.10,1.82,2.05,1.89,2.10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
334,E0,26/04/2025,15:00,Newcastle,Ipswich,3,0,H,1,0,...,1.89,2.01,1.88,2.03,1.89,2.15,1.81,2.06,1.81,2.18
335,E0,26/04/2025,15:00,Southampton,Fulham,1,2,A,1,0,...,2.05,1.85,2.05,1.88,2.09,1.88,2.04,1.83,2.15,1.85
336,E0,26/04/2025,15:00,Wolves,Leicester,3,0,H,1,0,...,1.93,1.97,1.93,1.99,1.94,2.05,1.89,1.98,1.94,2.05
337,E0,27/04/2025,14:00,Bournemouth,Man United,1,1,D,1,0,...,1.98,1.92,1.99,1.93,2.00,2.00,1.94,1.91,1.98,2.02
338,E0,27/04/2025,16:30,Liverpool,Tottenham,5,1,H,3,1,...,1.86,2.04,1.87,2.04,2.00,2.04,1.87,1.99,1.92,2.06

In [4]:
# Cambiar nombre de columnas
df_premier24.rename(columns={'Date':'date',
                             'HomeTeam':'home_team',
                             'AwayTeam':'away_team',
                             'FTHG':'home_goals',
                             'FTAG':'away_goals',}, inplace=True)

In [5]:
# Mostrar DataFrame
df_premier24

,Div,date,Time,home_team,away_team,home_goals,away_goals,FTR,HTHG,HTAG,...,B365CAHH,B365CAHA,PCAHH,PCAHA,MaxCAHH,MaxCAHA,AvgCAHH,AvgCAHA,BFECAHH,BFECAHA
0,E0,16/08/2024,20:00,Man United,Fulham,1,0,H,0,0,...,1.86,2.07,1.83,2.11,1.88,2.11,1.82,2.05,1.90,2.08
1,E0,17/08/2024,12:30,Ipswich,Liverpool,0,2,A,0,0,...,2.05,1.88,2.04,1.90,2.20,2.00,1.99,1.88,2.04,1.93
2,E0,17/08/2024,15:00,Arsenal,Wolves,2,0,H,1,0,...,2.02,1.91,2.00,1.90,2.05,1.93,1.99,1.87,2.02,1.96
3,E0,17/08/2024,15:00,Everton,Brighton,0,3,A,0,1,...,1.87,2.06,1.86,2.07,1.92,2.10,1.83,2.04,1.88,2.11
4,E0,17/08/2024,15:00,Newcastle,Southampton,1,0,H,1,0,...,1.87,2.06,1.88,2.06,1.89,2.10,1.82,2.05,1.89,2.10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
334,E0,26/04/2025,15:00,Newcastle,Ipswich,3,0,H,1,0,...,1.89,2.01,1.88,2.03,1.89,2.15,1.81,2.06,1.81,2.18
335,E0,26/04/2025,15:00,Southampton,Fulham,1,2,A,1,0,...,2.05,1.85,2.05,1.88,2.09,1.88,2.04,1.83,2.15,1.85
336,E0,26/04/2025,15:00,Wolves,Leicester,3,0,H,1,0,...,1.93,1.97,1.93,1.99,1.94,2.05,1.89,1.98,1.94,2.05
337,E0,27/04/2025,14:00,Bournemouth,Man United,1,1,D,1,0,...,1.98,1.92,1.99,1.93,2.00,2.00,1.94,1.91,1.98,2.02
338,E0,27/04/2025,16:30,Liverpool,Tottenham,5,1,H,3,1,...,1.86,2.04,1.87,2.04,2.00,2.04,1.87,1.99,1.92,2.06

## 2 Leer .csv de Multiples URLs con Pandas

- https://www.football-data.co.uk/mmz4281/2425/E0.csv
- https://www.football-data.co.uk/mmz4281/2425/E1.csv

#### Link: root + season + league

In [6]:
# Estructura de un link
"https://www.football-data.co.uk/mmz4281/" + "2425" + "/" + "E0" + ".csv"

'https://www.football-data.co.uk/mmz4281/2425/E0.csv'

In [7]:
# Crear una varible root
root = "https://www.football-data.co.uk/mmz4281/"

### 2.1 Multiples ligas

- https://www.football-data.co.uk/mmz4281/2425/E0.csv
- https://www.football-data.co.uk/mmz4281/2425/E1.csv
- https://www.football-data.co.uk/mmz4281/2425/E2.csv
- https://www.football-data.co.uk/mmz4281/2425/E3.csv
- https://www.football-data.co.uk/mmz4281/2425/EC.csv

In [8]:
# Crear lista de ligas
leagues = ['E0', 'E1', 'E2', 'E3', 'EC']
frames = []

# Hacer loop en la lista leagues, leer multiples csv y adjuntarlo en 
for league in leagues:
    df = pd.read_csv(f'{root}2425/{league}.csv')
    frames.append(df)

In [9]:
# tamano de los frames
len(frames)

5

In [10]:
# mostrar 1er, 2do, 3er elemento
frames[-1]

,Div,Date,Time,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,...,B365CAHH,B365CAHA,PCAHH,PCAHA,MaxCAHH,MaxCAHA,AvgCAHH,AvgCAHA,BFECAHH,BFECAHA
0,EC,10/08/2024,15:00,Aldershot,Forest Green,3,3,D,2,1,...,1.83,1.98,1.87,1.99,1.87,2.00,1.83,1.99,1.88,2.02
1,EC,10/08/2024,15:00,Altrincham,Woking,1,0,H,1,0,...,1.83,1.98,1.83,2.04,1.85,2.04,1.82,1.95,1.86,2.14
2,EC,10/08/2024,15:00,Boston Utd,Rochdale,0,3,A,0,2,...,1.85,1.95,1.88,1.98,1.88,1.98,1.84,1.93,1.92,2.00
3,EC,10/08/2024,15:00,Dag and Red,Wealdstone,2,1,H,0,0,...,1.90,1.90,1.89,1.95,1.91,1.95,1.87,1.88,1.91,2.06
4,EC,10/08/2024,15:00,Fylde,Solihull,3,2,H,1,2,...,1.78,2.03,1.76,2.10,1.80,2.10,1.76,2.01,1.80,2.14
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
534,EC,26/04/2025,15:00,Rochdale,Hartlepool,5,1,H,3,1,...,1.83,1.98,1.89,1.96,1.89,1.98,1.86,1.92,1.90,2.07
535,EC,26/04/2025,15:00,Tamworth,Fylde,4,3,H,2,3,...,1.88,1.93,1.92,1.93,1.92,1.98,1.85,1.93,1.88,1.79
536,EC,26/04/2025,15:00,Yeovil,Sutton,1,2,A,1,0,...,1.65,2.20,1.75,2.15,1.75,2.22,1.71,2.11,1.78,2.25
537,EC,26/04/2025,15:00,York,Solihull,2,0,H,1,0,...,1.83,1.98,1.81,2.06,1.90,2.06,1.85,1.93,1.89,1.92
538,EC,26/04/2025,17:30,Southend,Wealdstone,3,0,H,1,0,...,1.93,1.88,1.94,1.91,2.01,1.91,1.98,1.81,2.07,1.82

### 2.2 Multiples Temporadas

In [11]:
# Crear lista de ligas
leagues = ['E0', 'E2', 'E3']
frames = []

# Hacer loop a un rango de temporadas e insertar una nueva columna

for league in leagues:
    for season in range(19, 25):
        df = pd.read_csv(f'{root}{str(season)}{str(season + 1)}/{league}.csv')
        df.insert(1, 'season', season)
        frames.append(df)

In [12]:
# Total de frames (6 temporadas x 3 ligas)
len(frames)

18

In [13]:
# Mostrar 1er y ultimo elemento (columna season fue creada)
frames[17]

,Div,season,Date,Time,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,...,B365CAHH,B365CAHA,PCAHH,PCAHA,MaxCAHH,MaxCAHA,AvgCAHH,AvgCAHA,BFECAHH,BFECAHA
0,E3,24,09/08/2024,20:00,Chesterfield,Swindon,1,1,D,1,...,1.83,2.03,1.86,2.03,1.89,2.05,1.83,1.97,1.91,2.06
1,E3,24,10/08/2024,15:00,AFC Wimbledon,Colchester,4,2,H,3,...,1.75,2.05,1.83,2.07,1.83,2.17,1.76,2.05,1.86,2.12
2,E3,24,10/08/2024,15:00,Barrow,Crewe,1,0,H,1,...,1.88,1.98,1.87,2.02,1.90,2.04,1.84,1.95,1.88,2.09
3,E3,24,10/08/2024,15:00,Cheltenham,Newport County,3,2,H,2,...,1.93,1.93,1.96,1.93,1.98,1.96,1.91,1.88,2.05,1.92
4,E3,24,10/08/2024,15:00,Doncaster,Accrington,4,1,H,1,...,1.93,1.93,1.95,1.93,1.95,1.98,1.89,1.89,1.98,2.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
535,E3,24,26/04/2025,15:00,Gillingham,Swindon,1,1,D,0,...,1.73,2.08,1.78,2.12,1.81,2.15,1.75,2.08,1.80,2.23
536,E3,24,26/04/2025,15:00,Milton Keynes Dons,Grimsby,0,0,D,0,...,1.98,1.88,1.95,1.92,1.98,1.92,1.93,1.88,2.04,1.91
537,E3,24,26/04/2025,15:00,Salford,Colchester,4,1,H,3,...,1.85,2.00,1.86,2.01,1.88,2.02,1.84,1.97,1.89,2.09
538,E3,24,26/04/2025,15:00,Tranmere,Crewe,2,0,H,1,...,1.83,2.03,1.86,2.01,1.90,2.04,1.86,1.96,1.91,2.09
539,E3,24,26/04/2025,15:00,Walsall,Accrington,0,1,A,0,...,1.75,2.05,1.80,2.09,1.82,2.10,1.77,2.04,1.86,2.13

## 3 Organizar Data en un Diccionario

In [14]:
# crear un diccionario con nombre original de liga como llave
dict_countries = {
    'Spanish La Liga': 'SP1', 'Spanish Segunda Division': 'SP2',
    'German Bundesliga': 'D1',
    'English Premier League': 'E0', 'English League 1': 'E2', 'English League 2': 'E3', 
}

In [15]:
# Obtener un elemento del diccionario
dict_countries['Spanish La Liga']

'SP1'

In [18]:
dict_historical_data = {}

# Crear lista de ligas
#leagues = ['E0', 'E2', 'E3']
# Hacer loop sobre llaves de diccionario

for league in dict_countries:
    frames = []
    for season in range(19, 25):
        df = pd.read_csv(f'{root}{str(season)}{str(season + 1)}/{dict_countries[league]}.csv')
        df.insert(1, 'season', season)
        frames.append(df)
    df_concat = pd.concat(frames)
    dict_historical_data[league] = df_concat

In [20]:
# Mostrar dataframe dentro de dict_historical_data
dict_historical_data.keys()

dict_keys(['Spanish La Liga', 'Spanish Segunda Division', 'German Bundesliga', 'English Premier League', 'English League 1', 'English League 2'])

In [25]:
dict_historical_data['Spanish La Liga']

,Div,season,Date,Time,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,...,1XBCH,1XBCD,1XBCA,BFECH,BFECD,BFECA,BFEC>2.5,BFEC<2.5,BFECAHH,BFECAHA
0,SP1,19,16/08/2019,20:00,Ath Bilbao,Barcelona,1,0,H,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,SP1,19,17/08/2019,16:00,Celta,Real Madrid,1,3,A,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,SP1,19,17/08/2019,18:00,Valencia,Sociedad,1,1,D,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,SP1,19,17/08/2019,19:00,Mallorca,Eibar,2,1,H,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,SP1,19,17/08/2019,20:00,Leganes,Osasuna,0,1,A,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
325,SP1,24,24/04/2025,18:00,Leganes,Girona,1,1,D,0,...,3.34,3.08,2.46,3.30,3.25,2.54,2.26,1.78,1.86,2.15
326,SP1,24,24/04/2025,18:00,Osasuna,Sevilla,1,0,H,1,...,2.35,3.07,3.58,2.40,3.10,3.75,2.66,1.59,2.01,1.98
327,SP1,24,24/04/2025,20:30,Ath Madrid,Vallecano,3,0,H,2,...,1.53,4.23,7.06,1.53,4.60,7.40,1.95,2.04,1.90,2.07
328,SP1,24,24/04/2025,20:30,Betis,Valladolid,5,1,H,1,...,1.16,9.68,15.70,1.19,8.60,20.00,1.43,3.25,2.09,1.88
329,SP1,24,27/04/2025,15:15,Villarreal,Espanol,1,0,H,0,...,1.43,5.39,6.91,1.42,5.40,8.80,1.61,2.60,1.89,2.11